/* 

      New Perspectives on HTML5 and CSS3, 7th Edition
      Tutorial 7
      Case Problem 4

      Millennium Computers
      Author: Patrick M Capuano
      Date:   1.17.19

      Filename:   mc.forms.css 
      
*/

/* Validation Styles */

input,
select {
    width: 100%;
    padding: 3px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
    background: rgb(245, 245, 140);
}

input#speedBox:focus:valid,
input#memBox:focus:valid,
input#sizeBox:focus:valid,
input#hardBox:focus:valid,
input#dvdBox:focus:valid,
input#cardBox:focus:valid,
input#readBox:focus:valid,
input#firstBox:focus:valid,
input#lastBox:focus:valid,
input#streetBox:focus:valid,
input#cityBox:focus:valid,
input#stateBox:focus:valid,
input#phoneBox:focus:valid,
input#zipBox:focus:valid {
    background: rgb(220, 255, 220) url("mc_go.png") right/contain no-repeat;
}

input#speedBox:focus:invalid,
input#memBox:focus:invalid,
input#sizeBox:focus:invalid,
input#hardBox:focus:invalid,
input#dvdBox:focus:invalid,
input#cardBox:focus:invalid,
input#readBox:focus:invalid,
input#firstBox:focus:invalid,
input#lastBox:focus:invalid,
input#streetBox:focus:invalid,
input#cityBox:focus:invalid,
input#stateBox:focus:invalid,
input#phoneBox:focus:invalid,
input#zipBox:focus:invalid {
    background: rgb(255, 232, 220) url("mc_stop.png") right/contain no-repeat;
}