/* 

      New Perspectives on HTML5 and CSS3, 7th Edition
      Tutorial 7
      Case Problem 4

      Millennium Computers
      Author: Patrick M Capuano
      Date:   1.17.19

      Filename:   mc.styles.css 
      
*/

/* I didn't use this file at all.
      Ha. */